
@font-face {
  font-family: 'GoraFree-Regular';
  src: url('GoraFree-Regular.eot?#iefix') format('embedded-opentype'),  url('GoraFree-Regular.woff') format('woff'), url('GoraFree-Regular.ttf')  format('truetype'), url('GoraFree-Regular.svg#GoraFree-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
