/* шапка    */

.header {
    background: #131415;
    height: 75px;
}
.header_left, .header_right, .header_center {
    float: left;
    width: 50%;
}
.header_left {
    padding: 10px 0;
}
.header_right {
    text-align: right;
    /* margin-top: 12px;
    padding-top: 12px; */
}
.header_center{
    text-align: center;
    height: 75px;
}
.logo-text{
    float: left;
    width: 70%;
    color: #f89513; 
    font-family: 'GoraFree';
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    margin: 12px 0;
}
.logo-decor {
    display: inline-block;
}
.logo_icon {
 width: 50px;
 height: 50px;
 float: left;
    
}

.nav-menu__text {
    font-size: 12px;
    color: white;
    text-transform: uppercase;
}
.active  .nav-menu__text{
    color: #f89513;
}
.active  .none{
    display: inline-block;
}
.active  .not_none{
    display: none;
}
.contacts {
    display: inline-block;
}
.contacts__phone {
    font-size: 21px;
    text-decoration: none;
    color: white;
    display: block;
}
.contacts__schedule {
    font-size: 14px;
    color: #c77814;
    opacity: .7;
    display: block;
    padding: 27px 0;
}
/* выпадашка */
.drop {
    position: relative;
}
/* .drop:hover .dropdown {
    left: -167px;
    background: #afadab;
    padding-top: 0px;
    border-radius: 9px;

} */
.drop:hover .contacts__schedule {
    color: #b9b9b9;
    cursor: pointer;
}

.dropdown {
    display: none; 
    position: absolute;
    left: -167px;
    background: #afadab;
    padding-top: 0px;
    border-radius: 9px;
}

.drop-block {
    z-index: 20;
    border-radius: 10px;
    border: 1px ;
    box-shadow: 0px 0px 10px 0px rgba(23, 59, 117, 0.55);  /* гардиент бордера */
    position: relative;
    padding: 18px 0;
    background: #565454d6;
}
.drop-block_out {
    padding: 19px 25px;
    padding-left: 38px;
}
.triangle {
    width: 25px;
    height: 25px;
    border-bottom: 1px ;
    border-right: 1px ;
    box-shadow: -7px -8px 6px -6px rgba(23, 59, 117, 0.55);  
    position: absolute;
    transform: rotate(45deg);
    left: 84%;
    bottom: 92%;
    background: #646261;
}
.drop-block p {
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 14px;
    color : #ffffff;
    margin: 0;
    text-align: center;
    margin-bottom: 8px;
}
.drop-block b {
    font-family: 'OpenSans';
    font-weight: bold;
    font-size: 14px;
    color : #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.contacts__schedule {
    font-size: 14px;
    color: #c77814;
    opacity: .7;
    display: block;
    padding: 27px 0;
    padding-left: 8px;
}

.form__cell-header {
    display: block;
    float: left;
    width: 190px; 
    margin-right: 15px;
    margin-left: 15px;
}
  .form__input-text-mod{
    width: 100%;
  height: 30px;
  padding: 13px 10px;
  font-size: 14px; /*размерр текста*/
  font-weight: 300px; /*шрифт*/
  border: 2px solid transparent;
  border-radius: 3px;
  margin-bottom: 20px;
}

.form__input-text-mod::-webkit-input-placeholder {
    color:#908f8f; /*цвет текста в input*/
  }
  .form__input-text-mod::-moz-placeholder {
    color:#908f8f;
  }
  .form__input-text-mod:focus { /*цвет окантовки*/
    border-color: #f89513;
    outline: none;
  }

  .header_btn {
	padding: 10px 13px;
	text-align: center;
	border-radius: 5px;
	font-size: 12px;
	color: #f1f1f1;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	transition: .3s;
	-webkit-transition: .3s;
	background: #f89513;
	border: 0;
  cursor: pointer;
  margin-right: 15px;

}
.header_btn:hover {
	background: #834c05;
}
/* контент */
.contacts__schedule_mod {
    padding: 28px 0;
    margin: 0;
}
/* .drop:hover .contacts__schedule_mod {
    width: 116px;   
}
.drop:hover .dropdown_mod {
    left: -25px;
} */
.dropdown_mod {
    left: -117px;
}
.triangle_mod {
    left: 73%;
    bottom: 81%;
}
.header_btn_mod {
    margin: 0 40px;
}