<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Jarvis</title>
    <link href="{{ url_for('static', filename = './css/main.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='./img/favicon.ico') }}" rel="icon" type="image/x-icon">
    <script src="{{ url_for('static', filename = './js/main.js') }}"></script>
</head>

<body>
<div class="wrapper">
    <!-- header -->
    <header class="header">
        <div class="container clearfix">
            <div class="header_left clearfix">
                <a class="logo-decor" href="/">
                    <img alt=""
                         class="logo_icon"
                         src="{{ url_for('static', filename='./img/815a836e51c6f20226cb07df7f32895c.png') }}">
                    <p class="logo-text">J.a.r.v.i.s </p>
                </a>
            </div>
            <div class="header_right">
                <div class="contacts">
                    <div class="drop">
                        <a class="contacts__schedule" href="" onclick="activeClass();">Нужна помощь?</a>

                        <div class="dropdown dropdown_mod" id="dropdown">
                            <div class="drop-block drop-block_mod">
                                <div class="triangle triangle_mod"></div>
                                <p>Обратитесь в службу поддержки по адресу:<b>jarvis@mail.ru</b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <section class="container error">
        <div class="not_found">
            <h1 class="not_found-title">404</h1>
            <h2 class="not_found-text">not found</h2>

        </div>
        <div class="not_found-img">
            <img alt="" class="img404" src="{{ url_for('static', filename='./img/travolta.png') }}">

        </div>
    </section>

</div>

<!-- заглушка -->
<footer class="footer clearfix">
    <div class="container">
        <div class="footer-q clearfix">
            <p class="footer-full-text">Сделано с любовью и старанием на курсе ВГУ "Тестирование ПО" <b
                    class="footer-text_name"></b></p>
        </div>
        <div class="footer-q clearfix">
            <a class="logo-text" href="/">j.a.r.v.i.s</a>
        </div>
        <div class="footer-q clearfix">
            <p class="footer-messeger_text">Наши социальные сети</p>
            <ul class="footer-messeger">
                <li class="footer-messeger__item ">
                    <a class="footer-messeger__link" href="">
                        <img alt="" class="footer-messeger__icon"
                             src="{{ url_for('static', filename='./img/vk.png') }}">
                    </a>
                </li>
                <li class="footer-messeger__item">
                    <a class="footer-messeger__link " href="">
                        <img alt="" class="footer-messeger__icon"
                             src="{{ url_for('static', filename='./img/fb.png') }}">
                    </a>
                </li>
                <li class="footer-messeger__item">
                    <a class="footer-messeger__link" href="">
                        <img alt="" class="footer-messeger__icon"
                             src="{{ url_for('static', filename='./img/google.png') }}">
                    </a>
                </li>
                <li class="footer-messeger__item">
                    <a class="footer-messeger__link" href="">
                        <img alt="" class="footer-messeger__icon"
                             src="{{ url_for('static', filename='./img/twitter.png') }}">
                    </a>
                </li>
                <li class="footer-messeger__item">
                    <a class="footer-messeger__link" href="">
                        <img alt="" class="footer-messeger__icon"
                             src="{{ url_for('static', filename='./img/mail.png') }}">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>