<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jarvis</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = './css/main.css') }}">
</head>

<body>
    <div class="wrapper">
<!-- header-- -->
        <header class="header">
            <div class="container clearfix">
                <div class="header_left clearfix">
                    <a class="logo-decor">
                        <img class="logo_icon" src="{{ url_for('static', filename='./img/815a836e51c6f20226cb07df7f32895c.png') }}" alt="">
                        <p class="logo-text">J.a.r.v.i.s </p>
                    </a>
                </div>
                <div class="header_right">
                    <div class="contacts">
                        <div class="drop">                   
                            <a href="" class="contacts__schedule">Войти</a>
                            <div class="dropdown">
                                <div class="drop-block">
                                    <div class="triangle"></div>
                                    <label class="form__cell-header ">
                                        <input type="text" class="form__input-text-mod" placeholder="Логин" >
                                    </label>
                                    <label class="form__cell-header">
                                        <input type="password" class="form__input-text-mod" placeholder="Пароль">
                                    </label>
                                    <a href="/login" class="input">
                                        <input type="button" href="/login" name="scriptbutton" class="header_btn" value="Войти" >
                                    </a> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <section class="hero"> 
            <div class="container">
                <div class="hero_con clearfix">
                    <div class="rotateblock_orenge">
                        <div class="ava_logo">
                            <div class="rotateblock">
                                <img src="{{ url_for('static', filename='./img/ava.png') }}" alt="" class="ava">
                            </div>
                        </div>
                    </div>
                        <div class="content_form">
                            <div class="animate_text">
                                <h class="h_content">Jarvis</h>
                            </div>
                            <div class="content_form-text">
                                <p class="text_content">Ваш индивидуальный помощник на каждый день</p>
                            </div>
                            <div class="input-button">
                                <a href="/registration" class="input">
                                    <input type="button" href="/registration" name="scriptbutton" class="welcome__btn" value="Регистрация" >
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!-- заглушка -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="footer-q clearfix">
                <p class="footer-full-text">Сделано с любовью и старанием на курсе ВГУ "Тестирование ПО" <b class="footer-text_name"></b> </p>
            </div>
            <div class="footer-q clearfix">
                <a href="/" class="logo-text">j.a.r.v.i.s</a>
            </div>
            <div class="footer-q clearfix">
                <p class="footer-messeger_text">Наши социальные сети</p>
                <ul class="footer-messeger">
                    <li class="footer-messeger__item ">
                        <a href="" class="footer-messeger__link">
                            <img src="{{ url_for('static', filename='./img/vk.png') }}" class="footer-messeger__icon" alt="">
                        </a>   
                    </li>
                    <li class="footer-messeger__item">
                    <a href="" class="footer-messeger__link ">
                            <img src="{{ url_for('static', filename='./img/fb.png') }}" class="footer-messeger__icon" alt="">
                        </a>   
                    </li>
                    <li class="footer-messeger__item">
                        <a href="" class="footer-messeger__link">
                            <img src="{{ url_for('static', filename='./img/google.png') }}" class="footer-messeger__icon" alt="">
                        </a>   
                    </li>
                    <li class="footer-messeger__item">
                        <a href="" class="footer-messeger__link">
                            <img src="{{ url_for('static', filename='./img/twitter.png') }}" class="footer-messeger__icon" alt="">
                        </a>   
                    </li>
                    <li class="footer-messeger__item">
                        <a href="" class="footer-messeger__link">
                            <img src="{{ url_for('static', filename='./img/mail.png') }}" class="footer-messeger__icon" alt="">
                        </a>   
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>