<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>jarvis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = './css/main.css') }}">
</head>

<body>
    <div class="wrapper">
<!-- header -->
        <header class="header">
            <div class="container clearfix">
                <div class="header_left clearfix">
                    <a href="/" class="logo-decor">
                        <img class="logo_icon" src="img/815a836e51c6f20226cb07df7f32895c.png" alt="">
                        <p class="logo-text">J.a.r.v.i.s </p>
                    </a>
                </div>
                <!-- menu --> 
                
                   
                </nav>
                <div class="header_right clearfix">
                    <label class="form__cell-header ">
                        <input type="text" class="form__input-text-mod" placeholder="email">
                    </label>
                    <label class="form__cell-header">
                        <input type="text" class="form__input-text-mod" placeholder="password">
                    </label>
                    <a href="" class="input">
                        <input type="button" href="/comments.html" name="scriptbutton" class="header_btn" value="Войти" >
                    </a>
                </div>
            </div>
        </header>
        


        <section class="form">
            <div class="form__title">
                Создать аккаунт
            </div>
            <!-- лейблы -->
            <div class="form__fields">
                <div class="form__element" method="post">
                    <div class="form__row clearfix">   
                        <label class="form__cell">
                            <div class="form__field-title">
                                Ваше имя
                            </div>
                            <input type="text" class="form__input-text" placeholder="Введите имя">
                        </label>
                        <label class="form__cell">
                            <div class="form__field-title">
                                Ваша фамилия
                            </div>
                            <input type="text" class="form__input-text" placeholder="Введите фамилию">
                        </label>
                        <label class="form__log">
                            <div class="form__field-title">  
                                Введите логин     
                            </div>
                            <input type="text" class="form__input-text" placeholder="Введите login">
                        </label>  
                        <label class="form__log">
                            <div class="form__field-title"> 
                                Введите email      
                            </div>
                            <input type="text" class="form__input-text" placeholder="Введите email">
                        </label>   
                        <label class="form__log">
                            <div class="form__field-title"> 
                                Введите пароль
                            </div>
                            <input type="text" class="form__input-text" placeholder="Введите пароль">
                        </label>   
                    </div>
                    <div class="form__btns">
                        <div class="form__controls">
                            <div class="form__controls-btns clearfix">
                                <div class="form__container-left">
                                    <p class="form__field-title">
                                        Пол
                                    </p>
                                    <div class="form__controls-left">
                                        <label class="form__radio">
                                            <input type="radio" name="review" class="form__radio-elem" checked>
                                            <div class="form__radio-fake"></div>
                                            <div class="form__radio-text">Муж.</div>
                                        </label>
                                        <label class="form__radio">
                                            <input type="radio" name="review" class="form__radio-elem" >
                                            <div class="form__radio-fake"></div>
                                            <div class="form__radio-text ">Жен.</div>
                                        </label>
                                    </div>
                                </div>    
                                <div class="form__controls-right">
                                    <button type="submit" value="Отправить" class="form__submit">Регистрация</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>

    <!-- заглушка -->
    <footer class="footer clearfix">
        <div class="container">
            <div class="footer-q clearfix">
                <p class="footer-full-text">Сделано с любовью и старанием на курсе ВГУ "Тестирование ПО" <br> Автор работы: <b class="footer-text_name">Трухачев Сергей</b> </p>
            </div>
            <div class="footer-q clearfix">
                <a href="/" class="logo-text">j.a.r.v.i.s</a>
            </div>
            <div class="footer-q clearfix">
                <p class="footer-messeger_text">Наши социальные сети</p>
                <ul class="footer-messeger">
                    <li class="footer-messeger__item ">
                        <a href="" class="footer-messeger__link">
                            <img src="{{ url_for('static', filename='./img/afrodita/vk.png') }}" class="footer-messeger__icon" alt="">
                        </a>
                    </li>
                    <li class="footer-messeger__item">
                    <a href="" class="footer-messeger__link ">
                            <img src="{{ url_for('static', filename='./img/afrodita/fb.png') }}" class="footer-messeger__icon" alt="">
                        </a>
                    </li>
                    <li class="footer-messeger__item">
                        <a href="" class="footer-messeger__link">
                            <img src="{{ url_for('static', filename='./img/afrodita/google.png') }}" class="footer-messeger__icon" alt="">
                        </a>
                    </li>
                    <li class="footer-messeger__item">
                        <a href="" class="footer-messeger__link">
                            <img src="{{ url_for('static', filename='./img/afrodita/twitter.png') }}" class="footer-messeger__icon" alt="">
                        </a>
                    </li>
                    <li class="footer-messeger__item">
                        <a href="" class="footer-messeger__link">
                            <img src="{{ url_for('static', filename='./img/afrodita/mail.png') }}" class="footer-messeger__icon" alt="">
                        </a>   
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>